
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.default{
    font-family: Arial, Helvetica, sans-serif;
}
/* This is by Default when we use the default fonts from the CSS */

/* Below is when we use google fonts */

.GoogleFont{
    font-family: "Poppins", sans-serif;
}

/* Below is how you import downloaded fonts */
@font-face {
    font-family: "PlaywriteCU-Regular";
    src: url(static/PlaywriteCU-Regular.ttf);
}
.importFont{
    font-family: "PlaywriteCU-Regular";
    }
